xgboost~=2.0.0
jupyter~=1.0.0
optuna~=3.3.0
pandas~=2.1.1
scikit-learn~=1.3.1
seaborn~=0.12.2
matplotlib~=3.8.0
numpy~=1.26.0
statsmodels~=0.14.0
networkx~=3.1
pydot~=1.4.2
black~=23.9.1
openpyxl~=3.1.2
tenserflow~=2.14.0
rdkit-pypi~=2022.9.5
torch~=2.1.0